NODE_ENV=production
PORT=5000
DATABASE_URL=mongodb://new-portfolio:ae58YaGA9IRnf04w@ac-eacxide-shard-00-00.gdk9eql.mongodb.net:27017,ac-eacxide-shard-00-01.gdk9eql.mongodb.net:27017,ac-eacxide-shard-00-02.gdk9eql.mongodb.net:27017/new-portfolio?ssl=true&replicaSet=atlas-5pz39t-shard-0&authSource=admin&appName=Cluster0
DEFAULT_PASSWORD=DEBOS@602
bcrypt_salt_rounds=10
ADMIN-CREADENTIAL=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ1c2VySWQiOiI2NmMyNjJkMTQ2M2MzNDhlNzgxZjVkZjUiLCJyb2xlIjoiYWRtaW4iLCJpYXQiOjE3MjQwNjU5NzMsImV4cCI6MTcyNDkyOTk3M30.XfUDUK8b-g-1I9c9Hlwn6llhhmDlC2FyXlyusWgnav0
JWT_ACCESS_SECRET=2e102d9aa01eb1fa39db1dcabe9dc54a37e804dd679ece2e573cb57515b310d1
JWT_REFRESH_SECRET=5358778e90b0cb9f3eec72d3e2e308e67722739e14cb32df5fabc531c2246f9b829760b8de3852abe7be827fae882062a261c6395b8908d59c6c8e8b25faa75e
jwt_access_expires_in=1d
jwt_refresh_expires_in=365d
cloudinary_cloudeName=dawt0ov0p
cloudinary_api_key=847984768521235
cloudinary_api_seqret=aTFzHK94nvBM-C7ZIczGc392PBk
Store_Id="aamarpaytest"
Signature_Key="dbb74894e82415a2f7ff0ec3a97e4183"
Payment_url="https://sandbox.aamarpay.com/jsonpost.php"
Payment_verify_url="https://sandbox.aamarpay.com/api/v1/trxcheck/request.php"
RESET_PASS_UI_LINK="http://localhost:5173"
FRONTEND_URL="http://localhost:5173"
GITHUB_USERNAME=Debos602
GITHUB_CLIENT_SECRET=see this token local device
